* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  padding: 44px 80px;
}
header span {
  font-size: 25px;
  font-weight: 700;
}
header nav {
  margin-left: 250px;
}
header nav a {
  text-decoration: none;
  color: black;
  margin-left: 60px;
  font-weight: 550;
}
header .saytlar {
  margin-left: auto;
  display: flex;
  align-items: center;
}
header .div {
  display: none;
}

@media (max-width: 500px) {
  header .div img {
    display: block;
  }
  header .saytlar {
    display: none;
  }
  header nav {
    display: none;
  }
}
section {
  width: 100%;
  height: auto;
}
section h1 {
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  font-weight: 600;
}
section .lorem {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  color: rgb(144, 142, 142);
}
section .search {
  text-align: center;
  padding: 80px 0 0 0;
}
section .search input {
  width: 650px;
  height: 80px;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 17px;
}
section .search button {
  margin-left: -160px;
  color: white;
  background-color: black;
  padding: 20px 50px;
  border-radius: 20px;
}

@media (max-width: 500px) {
  section h1 {
    font-size: 50px;
    text-align: center;
  }
  section .search input {
    width: 350px;
    height: 80px;
    font-size: 13px;
    margin-left: -50px;
    margin-bottom: 20px;
  }
  section .search button {
    padding: 20px 30px;
    margin-left: -130px;
  }
  section .saytlar {
    margin-left: auto;
  }
  section .lorem {
    font-size: 16px;
    padding: 0 20px;
  }
}
section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section .contyner {
  display: flex;
}
section .contyner .img1 {
  display: flex;
  padding: 40px 0 0 60px;
}
section .contyner .img1 .img {
  width: 290px;
  height: 200px;
}
section .contyner .img1 .img1-matnlari {
  padding: 20px 40px;
}
section .contyner .img1 .img1-matnlari p {
  font-size: 20px;
  color: rgb(137, 137, 137);
  max-width: 580px;
  line-height: 28px;
}
section .contyner .img1 .img1-matnlari h3 {
  font-size: 26px;
  padding: 0 0 16px 0;
}
section .contyner .img1 .img-qoshimchasi {
  display: flex;
  padding: 28px 0 0 0;
}
section .contyner .img1 .img-qoshimchasi div {
  display: flex;
}
section .contyner .img1 .img-qoshimchasi div strong {
  margin-top: 10px;
  margin-left: 5px;
}
section .contyner .img1 .img-qoshimchasi p {
  color: rgb(116, 113, 113);
  margin-top: 10px;
  margin-left: 100px;
}
section .contyner .img2 {
  padding: 60px 40px;
}
section .contyner .img2 h2 {
  padding: 0 0 30px 0;
}
section .contyner .img2 .img2-matnlar {
  display: flex;
  padding: 20px 0 0 0;
}
section .contyner .img2 .img2-matnlar div {
  padding: 20px;
}
section .contyner .img2 p {
  font-size: 20px;
  font-weight: 550;
  max-width: 200px;
  padding: 0 0 20px 0;
}
section .contyner .img2 span {
  color: rgb(126, 126, 126);
}
section .buttonlar button {
  padding: 20px 25px;
  border-radius: 25%;
  font-size: 30px;
  border: solid 2px rgb(193, 188, 188);
  background-color: white;
}
section .buttonlar {
  text-align: center;
  padding: 30px;
}
section .buttonlar .button1 {
  background-color: black;
  color: white;
}
section .img3 {
  background-image: url(../rasm.png);
  height: 434px;
  width: 400px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .img3 p {
  text-align: center;
  color: white;
  margin-top: 40px;
}
section .img3 span {
  margin-top: -70px;
}
section .img4 {
  background-image: url(../rasm2.png);
  height: 442px;
  width: 1280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .img4 h3 {
  font-weight: 600;
  font-size: 48px;
}
section .img4 p {
  color: rgb(131, 127, 127);
  padding: 20px 0 0 0;
  line-height: 25px;
}
section .img4 .search {
  text-align: center;
  padding: 80px 0 0 0;
}
section .img4 .search input {
  width: 480px;
  height: 65px;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 17px;
}
section .img4 .search button {
  margin-left: -140px;
  color: white;
  background-color: black;
  padding: 15px 40px;
  border-radius: 20px;
}
section .div3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 550px;
  margin-top: 160px;
  margin-bottom: 94px;
}
section .div3 .foodname {
  display: flex;
  flex-direction: column;
}
section .div3 .foodname strong {
  font-size: 20px;
  font-weight: 800;
}
section .div3 .foodname p {
  color: rgb(109, 108, 108);
  margin-top: 10px;
}
section .div3 .linklar a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
}
section .footer {
  display: flex;
  padding: 0 0 50px 400px;
}
section .footer span {
  color: red;
}
section .footer img {
  padding: 0 0 0 450px;
}

@media (max-width: 500px) {
  section .contyner {
    display: flex;
    flex-direction: column;
  }
  section .contyner div .img1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 0 10px;
  }
  section .contyner div .img1 img {
    margin-left: -60px;
  }
  section .contyner div .img1 .img1-matnlari {
    padding: 30px;
  }
  section .contyner div .img1 .img1-matnlari h3 {
    font-size: 20px;
    max-width: 300px;
  }
  section .contyner div .img1 .img1-matnlari p {
    font-size: 18px;
    max-width: 350px;
  }
  section .contyner div .img1 .img-qoshimchasi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -130px;
  }
  section .contyner div .img1 .img-qoshimchasi p {
    margin-left: -30px;
    margin-top: -3px;
  }
  section .img2 h2 {
    text-align: center;
  }
  .img4 {
    max-width: 500px;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */